{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-start my-4">
        <button class="btn btn-success"><i class="fas fa-save me-2"></i>{{ button_label|default('Ajouter client') }}</button>
    </div>
{{ form_end(form) }}
