{% extends 'admin/admin_index.html.twig' %}

{% block title %}{{parent()}} - Edition utilisateur{% endblock %}

{% block body %}

    <div class="admin-wrapper flex-direction-column p-4">
        <h1>Édition commande</h1>

        {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_order_index') }}">back to list</a>

        {{ include('order/_delete_form.html.twig') }}
    </div>
{% endblock %}
