@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import './vars';
@import "./home.scss";
@import "./vehicle.scss";
@import "./admin.scss";

.btn {
    &-new {
        color: $success;
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
    }
    &-detail {
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    }
    &-edit {
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    }
    &-delete {
        display: inline;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    }

}

.navbar-nav {
    width: -webkit-fill-available;
    margin-left: 0;
    margin-right: 0;
}

nav.navbar {
    background-color: black;
    position: relative;
    width: 100%;
    z-index: 10;
}

.app-flashes {
    position: fixed;
    top: 135px;
    right: 10px;
    width: 220px;
    z-index: 1;
    text-align: center;
    animation: transform 1s linear 3s 1 normal both;
    transform: translateX(300%);
}

.alert {
    margin-bottom: 0;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.5);
}

@keyframes transform {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(300%);
    }
}

.table td {
    padding: 1rem ;
}

.badge {
    padding-top: 0.40em;
}

.badge-danger {
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity));
}

ul.dropdown-menu.show {
    width: fit-content;
}